* {
  font-family: Cantarell 11;
}

window {
  margin: 1px;
  border: 15px solid #fab387;
  border-radius: 15px 15px 15px 15px;
}

#input {
  margin: 5px;
  border-radius: 0px;
  border: none;
  border-bottom: 0px solid black;
  border-radius: 15px 15px 15px 15px;
  background-color: #313244;
  color: #cdd6f4;
}

#inner-box {
  margin: 5px;
  background-color: #1e1e2e;
}

#outer-box {
  margin: 5px;
  padding: 20px;
  background-color: #1e1e2e;
  border-radius: 15px 15px 15px 15px;
}

#text {
  margin: 5px;
  color: #cdd6f4;
}

#entry:selected {
  background-color: #313244;
}

#text:selected {
  text-decoration-color: #cdd6f4;
}
